extends layout

block content
  h1= title
  #content
    .wrapper
      each entry in entries
        div
          a(href=gallery_path + entry.image_name)
            img(src=uploads_path + entry.image_name)
