extends layout

block content
  h1 Gallery
  #content
    .wrapper
      div
        img(src='http://placekitten.com/100/5000')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/500')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
      div
        img(src='http://placekitten.com/500/100')
