extends layout

block content
  h1= 'Image Gallery'
  p Welcome to Image Gallery!
  p Here, you can upload images and share it with people using the link.
  p Be sure to copy the link of your image from your browser after you have uploaded it.
  p You can also choose to upload it to the public gallery instead.
  p Remember to never upload illegal or inappropriate images.
  p Maximum image size is 8MB.
