extends layout
 
block content
  h1 Upload An Image
  form(method='post', enctype='multipart/form-data')
    input(type='file', name='upload')
    br
    input(type='submit', name='submit', value='Upload Image')
