extends layout
 
block content
  h1 Upload An Image
  form(method='post', enctype='multipart/form-data')
    label(for='upload') Image to Upload: 
    br
    input#upload(type='file', name='upload')
    br
    label(for='description') Description (Optional): 
    br
    input#description(type='text', name='description')
    br
    label(for='public_image') Make Image Public?
    input#public_image(type='checkbox', name='public_image', value='true')
    br
    input(type='submit', name='submit', value='Upload Image')
