.sidebar-nav {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.description{
  width: 500px;
  word-wrap: break-word;
}

.image{
  max-width: 500px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
}

.wrapper > a {
  display: block;
}

.wrapper > div img {
  max-height: 200px;
  max-width: 200px;
}
